
.hero-section-inner {
    max-width: 570px;

    h1 {
        font-weight: 700;
    }
}

.lt-spacing {
    letter-spacing: 4.2px;
}

.influencer-marketing-section-content {
    max-width: 510px;
}

h2 {
    font-weight: 600;
}




